*{
    padding: 0;
    margin: 0;

}

.asim-row{
    /* border: 2px red solid; */
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 35px;
   margin-top: 30px;
  
}
.asim-mainImg{
    height: 400px;
    margin-bottom:20px ;
    /* border: 2px red solid; */
   padding-left: 50px;
}
.asim-sImg{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 10px;
}

.asim-mainImg{
    margin-left: 40px;
}
.asimcontainer{
       /* border: 2px red solid;d */
       /* padding: 10px; */
font-family: 'Black Ops One', cursive;
font-family: 'Gravitas One', cursive;
font-family: 'IBM Plex Sans', sans-serif;
font-size: 20px;
}
.asim-card{
    /* border: 2px solid red; */
    padding: 20px;
}
.asim-addsec{
    /* border: 2px solid red; */
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 10px;
   margin-top: 10px;
}
.asim-addsec button{
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: blue;
    height: 40px;
    margin-top: 10px;
}
button{
    border: none;
    text-align: center;
    cursor: pointer;
}
.asim-tag{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    height: 20px;
    margin-top: 10px;
}
.asim-tag button{
    border-radius: 50%;
    font-size: 12px;
    color: red;
    font-weight: bold;
    height: 30px;
    
}
.asim-rating{
    font-size: 14px;
    font-weight: bold;
    color: rgb(173, 241, 173);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}
h4{
    margin: 10px 0 10px 0;
    font-size: 14px;
    font-weight: bold;
    
}

@media screen and (max-width:700px) {
    .asim-row{
        /* border: 2px red solid; */
       display: grid;
       grid-template-columns: repeat(1,1fr);
       gap: 35px;
       margin-top: 30px;
      
    }
}
@media screen and (max-width:330px){
    .asim-sImg{
        display: none;
        
    }
}
.allP{
   margin-top: 10px;
   margin-bottom: 10px;
    
}
#uni{
    margin-left: 8px;
}
.fa {
    margin: 10px;
}
.belowLine{
    /* border: 2px solid red; */
    padding-left:10px ;
    margin-bottom: 20px;
    font-family: 'Black Ops One', cursive;
    font-family: 'Gravitas One', cursive;
    font-family: 'IBM Plex Sans', sans-serif;

}
.fa-car{
    background-color: whitesmoke;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
#some{
    padding-left: 50px;
}
.btn{
    border: ;
}