*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
#asim-tag{
 
   padding-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: small;
}

.asim-small-container{
    max-width: 700px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;


}

#asim-ProductImg{
    cursor: pointer;
}
.asim-row{
    display: flex;
    align-items: centre;
    flex-wrap: wrap;
    justify-content: space-around;
}
.single-product{
     margin-top: 40px;
}
.asim-small-img-row{
    display: flex;
    justify-content: space-around;
}
.asim-col-2 img{
    max-width: 50%;
    padding: 20px 0;
    
}
.asim-img-col{
    flex-basis: 24%;
    cursor: zoom-in;

}
.asim-single-product .asim-col-2 img{
    padding:0;

}
.asim-single-product .asim-col-2{
    padding: 20px;
}
.asim-col-2{
    flex-basis: 50%;
   min-width: 300px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;  
}
.asim-single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;

}
.asim-single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.asim-single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
a{
    text-decoration: none;
    color: #555;
}
.asim-single-product .fa{
    color: #ff523b;
    margin-left:10px;
}
p{
    color: #555;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    background: #563434;
    
}
