* {
    /* box-sizing: border-box; */
  }
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 244, 244);
  }


/* nav bar starting */


  /* nav bar ending */

 /* main section start */

  main {
    margin-top: 110px;
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    
  }

  /* filter part starts */
  #asim-filter {
    width: 23%;
    height: 600px;
    font: 10px;
  }
  #asim-filter > div {
    background-color: rgb(220, 219, 231);
    padding: 15px;
    margin-bottom: 10px;
    font-family: 'Black Ops One', cursive;
    font-family: 'Gravitas One', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 10px;
  }
  #asim-filter > div > div {
    display: flex;
   
  }
  #asim-filter input[type="checkbox"] {
    margin-right: 15px;
  }
  #asim-price-filter input {
    width: 25%;
    
  }

  /* filter parts end */

  /* container starts */
  #asim-product-container {
    width: 85%;
    margin-bottom: 50px;
    margin-left: 20px;
    
  }
  #asim-product-container>div{
     border-radius: 5px; 
    font-family: 'Black Ops One', cursive;
    font-family: 'Gravitas One', cursive;
    font-family: 'IBM Plex Sans', sans-serif; 
    font-size: 10px;
    
  }
  #asim-product-container > div:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    gap: 25px;
   
  }
  #asim-product-container > div:nth-child(1) > div {
    background-color: rgb(218, 198, 198);
    border-radius: 5px;
    /* padding-inline: 5%; */
    padding-left: 5px;
    /* padding-bottom: 5%; */
    /* border: 2px red solid; */
    /* height: 70%; */
    width: 210px;
   
   
  }
  #asim-product-container img {
    border-radius: 5px;
    width: 95%;
    margin-top: 8px;
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-right: 10px;
  }
  button {
    display: block;
    margin-inline: auto;
    margin-top: 10px;
    font-size: 10px;
    
    
  }
  
  #asim-product-container > div:nth-child(2) {
    display: flex;
    width: 200px;
    margin-inline: auto;
  
  }
  #asim-product-container > div:nth-child(2) button {
    font-size: 30px;
    width: 20px;
    height: 40px;
  }
  /* container end */
  @media screen and (max-width:680px) {
    #asim-product-container > div:nth-child(1) {
      display: grid;
      grid-template-columns: repeat(1, 220px);
      gap: 25px;
     
    }
   
  }

 
  @media screen and (max-width:380px) {
    #asim-product-container > div:nth-child(1) {
      display: grid;
      grid-template-columns: repeat(1, 220px);
      gap: 25px;
     
    }
    #asim-filter{
      display: none;
    }
  }