* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 244, 244);
  }


/* nav bar starting */

#asim-nav{
    height: 80px;
    margin-bottom: 50px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
  }

  /* nav bar ending */

 /* main section start */

  main {
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
  }

  /* filter part starts */
  #asim-filter {
    width: 23%;
  }
  #asim-filter > div {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
  }
  #asim-filter > div > div {
    display: flex;
  }
  #asim-filter input[type="checkbox"] {
    margin-right: 15px;
  }
  #asim-price-filter input {
    width: 45%;
  }

  /* filter parts end */

  /* container starts */
  #asim-product-container {
    width: 75%;
    margin-bottom: 50px;
  }
  #asim-product-container > div:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 20px;
  }
  #asim-product-container > div:nth-child(1) > div {
    background-color: white;
    padding-inline: 2%;
    padding-bottom: 5%;
  }
  #asim-product-container img {
    width: 100%;
  }
  button {
    display: block;
    margin-inline: auto;
    margin-top: 10px;
  }
  
  #asim-product-container > div:nth-child(2) {
    display: flex;
    width: 200px;
    margin-inline: auto;
  }
  #asim-product-container > div:nth-child(2) button {
    font-size: 30px;
    width: 40px;
    height: 40px;
  }
  /* container end */